<h1>Registered Samples</h1>
<br/>
<table class="table">
  <tr>
    <th>Patient</th>
    <th>Encounter</th>
    <th>Sample ID</th>
  </tr>

<% @patient_samples.each do |patient_sample| %>
  <tr>
    <td><%= patient_sample.patient_name %></td>
    <td><%= patient_sample.encounter_name %></td>
    <td><%= patient_sample.sample_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Register new sample', new_patient_sample_path %>
